.container{
    background: lightblue;
    border-radius: 15px;
    align-content: center;
    height: 250px;
    text-align: center;
}

#convert-btn {
    background-color: #23cbab;
    border-radius: 15px;
    border: 0;
}

#output {
    background-color: #23cbee;
}
